@import "tailwindcss";

@font-face {
  font-family: "sam"; /* Name to use in Tailwind config */
  src: url("/fonts/SAMAN.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
 
}

@theme {
  /* Define the custom utility class 'animate-marquee' and its properties */
  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  /* Define the actual CSS @keyframes rule */
  @keyframes marquee {
    from {
      transform: translateX(0%); /* Start position */
    }
    to {
      transform: translateX(-100%); /* End position */
    }
    
  }
  
    @keyframes marquee2 {
    from {
      transform: translateX(100%); /* Start position */
    }
    to {
      transform: translateX(0%); /* End position */
    }
  }
  --font-display: "sam", sans-serif;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif,sam;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #E74504;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
max-width: 100%;
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

